.shop-gallery {
  padding: 20px;
  max-width: 1250px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.plushie-search {
  max-width: 450px;
  margin: auto;
}
